<head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Scrolling Nav - Start Bootstrap Template</title>
    
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom styles for this template -->
        <link href="assets/scrolling-nav.css" rel="stylesheet">
    
  </head>
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">List scroll Demo</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">      
      </div>
     </div>
    <select id="power"  [name]="power" [(ngModel)] = "power">
    <option *ngFor="let pow of powers" [value]="pow" >{{pow}}</option>
    </select>
    &nbsp; &nbsp; &nbsp; &nbsp;
     <div style="right:0px">
     <input id="searchbar" type="text" (input)="valuechange($event.target.value)" placeholder="search">
     </div>
  </nav>
  
  
  <div id="main">
  <app-home  [data1] = "power"  [data2] = "typed" (createProject)="createProject($event)">Loading</app-home>
  </div>
  <div id="main1">
  <p id="subheader">Info of clicked item</p>
  <div id="details">
  <ul>
  
  <table cellpadding = "100px">
  <tr>
  <td  *ngIf="metadata else empty" ><label> Released: </label> &nbsp; {{metadata}} <br> <label> Model Name: </label> &nbsp; {{brand}} <br> <label> Resolution: </label> &nbsp; {{resolution}}  
  <br>  <label> Size: </label> &nbsp; {{size}} </td>
  <td  id = ""><img   src= {{img}}></td>
  </tr>
  </table>
  
  </ul>
  </div>
  </div> 
  <nav class="fixed-bottom" id="mainNav">
  <div class="container">
  <p class="navbar-brand js-scroll-trigger">&copy;Copyright 2018</p>
  </div>
  </nav>


  <ng-template #empty>
      <p style= "text-align:center">Click Item to Display Mobile Specification</p>
 </ng-template>
  
  