<head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Scrolling Nav - Start Bootstrap Template</title>
    
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom styles for this template -->
        <link href="assets/scrolling-nav.css" rel="stylesheet">
    
  </head>
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top" style="text-align:center">
    <div class="container">
      <img class = "header-logo" src = "https://598d8f3cda4c5fed8f27-d10999d18a3b8ba163ad6d48476ec57a.ssl.cf5.rackcdn.com/mf_logo_white.svg"> 
      <p class="header">DATA HANDLER</p>
      <div class="collapse navbar-collapse" id="navbarResponsive">      
      </div>
     </div>
    <select id="power"  [name]="power" [(ngModel)] = "power">
    <option *ngFor="let pow of powers" [value]="pow" >{{pow}}</option>
    </select>
    &nbsp; &nbsp; &nbsp; &nbsp;
     <div style="right:0px">
     <input id="searchbar" type="text" (input)="valuechange($event.target.value)" placeholder="search">
     </div>
  </nav>
  
  
  <div id="main">
  <app-home  [data1] = "power"  [data2] = "typed" (createProject)="createProject($event)">Loading</app-home>
  </div>
  <div id="main1">
  <p id="subheader">Specifications</p>
  <div id="details">
  
  
      <table id="specification" *ngIf="metadata else empty">
          <tr>
              <td  id = "specimg"><img   src= {{img}}></td>
          <td id="specid"  >
          <table cellpadding= "4px">
            <tr>
              <td style="font-weight: 700"> Released: </td>
              <td>{{metadata}}</td>
            </tr>
            <tr>
                <td style="font-weight: 700"> Model Name: </td>
                <td>{{brand}}</td>
            </tr>
            <tr>
                <td style="font-weight: 700"> Resolution: </td>
                <td>{{resolution}}</td>
              </tr>
              <tr>
                  <td style="font-weight: 700"> Screen Size: </td>
                  <td>{{size}}</td>
                </tr>
                <tr>
                    <td style="font-weight: 700"> Operating System: </td>
                    <td>{{os}}</td>
                  </tr>
                  <tr>
                      <td style="font-weight: 700"> Chipset: </td>
                      <td>{{chipset}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 700"> Internal Memory: </td>
                        <td>{{internalMem}}</td>
                      </tr>
                      <tr>
                          <td style="font-weight: 700"> RAM: </td>
                          <td>{{ram}}</td>
                        </tr>    
                        <tr>
                            <td style="font-weight: 700"> Primary Camera: </td>
                            <td>{{primaryCam}}</td>
                          </tr>  
                          <tr>
                              <td style="font-weight: 700"> Battery: </td>
                              <td>{{Battery}}</td>
                            </tr>
                        
        
          </table>
        </td>
        </tr>
      </table>  
  
  
  </div>
  </div> 
  <nav class="fixed-bottom" id="mainNav">
  <div class="container">
  <p class="footer">&copy;Copyright 2018</p>
  </div>
  </nav>


  <ng-template #empty>
      <div style="height:300px">
        <br><br><br><br>
        <p style= "text-align: center">Click item to Display Mobile Specification</p></div>
 </ng-template>
  
  