






<span>
    <ul id="ninja-listing">
        
     
      <table id="table">
          <tr id="tr"  *ngFor="let item of movies1 | async   "  (click)= "doSomething(item.FIELD10, item.FIELD40 , item.FIELD1, item.FIELD2, item.FIELD17, item.FIELD18,
          item.FIELD19, item.FIELD21, item.FIELD24, item.FIELD25, item.FIELD26, item.FIELD37)">
        
          <td id="td">
          <img id="img" src = {{item.FIELD40}} >   
          </td>
          <td id="mobilemodel">
              <span style="font-size: 25px">{{item.FIELD1}}</span>
              <br>
              <span>{{item.FIELD2}}</span>
          </td>
        </tr>  
         
     </table>
       
     
    
      <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1000"
      (scrolled)="onScroll()">
    </div>
    
      <div *ngIf="!finished">
        <img class = "spinner" src= "https://raw.githubusercontent.com/MicroFocus/octane-visual-studio-plugin/master/OctaneVSPlugin/Resources/octane_preloader.gif ">
       </div>
    
       <div *ngIf="finished">
        
      </div>
      
     
    
    
      <!--<div id="talk" *ngIf = "flag" style="z-index: 1; position: absolute; background-color: #000000; width: 20%; height: 100px; padding: 0px; color: white; "  [style.left.px] = "x"   [style.top.px]="y">
        <p >{{slug}}</p>
      
      </div> -->
      
      
    
        
    
      
        
        
    </ul>
    
    </span>
    
    
    
    
    
    
    