
<ul id="ninja-listing">
    
    <span>
  
    <li *ngFor="let item of data" (mouseenter)="fireEvent($event,'mouseEnter',item)" (mouseleave)="fireEvent($event,'mouseLeave')"><a href="#">
      {{item.FIELD1}} 
    </a>
    <p>  {{item.FIELD2}} </p>

 
   
  </li>
  
 


 
  <div id="talk" *ngIf = "flag" style="z-index: 1; position: absolute; background-color: #000000; width: 20%; height: 100px; padding: 0px; color: white; "  [style.left.px] = "x"   [style.top.px]="y">
    <p >{{slug}}</p>
  
  </div>
  </span>
  

    



  
    
    
</ul>
